# ignore build directores of Visual Studio Projects

# passive dynamic walker
dynamic-walker/build

# arm muscle optimisation
optimisation-arm/build/

# kinematics analysis tool
com-kinematics-analysis/main/build/
com-kinematics-analysis/plugin_souce/build/